/*  General  */
:root {
  --textColor: #1B1212;
	--backgroundColor: #F7FFF7;
}

body {
	font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal; 
	color: var(--textColor);
	background-color: var(--backgroundColor);
}

.section-title {
	margin-top: 50px;
	margin-left: 20px;
}

/*  Data  */
#top-container-wrapper {
	margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}
#data-container {
	text-align: right;
}
#quote-container {
	text-align: left;
}
#data-container, #quote-container {	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#data-container h1 {
	margin: 0;
	padding: 0;
	font-size: 50px;
	line-height: 45px;
}
#data-container h4 {
	margin: 0;
	line-height: 15px;
}
#data-container ul {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;	
}
#data-container ul li {
	display: inline;
	margin-left: 10px;
}
#data-container ul li i {
	font-size: 30px;
	cursor: pointer;
}

/*  Work Experience  */
.exp-wrapper {
	margin: 10px;
	padding: 10px;
	border: 3px solid var(--textColor);
border-radius: 15px;	
}
.exp-header {
	display: flex;
	align-items: center;
	gap: 10px;
}
.exp-logo-container {
	margin: 0;
	padding: 0;
}
.exp-logo-container img {
	width: 50px;
	height: 50px;
	border-radius: 13px;
}
.exp-name-container {
	margin: 0;
	padding: 0;	
}
.exp-description {
	margin: 0;
	padding: 0;
}

/*  Projects  */
.projs-container {
	margin-top: 10px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	gap: 1vw;
	flex-wrap: wrap;	
}
.proj-wrapper {
	width: 45vw;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;	
}
.proj-img {
	width: 45vw;
	border-radius: 10px;
}
.proj-icon {
	padding: 7px;
	position: absolute;
	font-size: 20px;
	color: var(--backgroundColor);
	border-radius: 25px;
	background-color: var(--textColor);
	cursor: pointer;
}
.proj-icon.fa-github-alt {
  top: 10px;
  right: 50px;
}
.proj-icon.fa-link {
  top: 10px;
  right: 10px;
}
.proj-title {
	margin: 0 0 0 10px;
}
.proj-description {
	margin: 0 0 20px 10px;	
}
.proj-stack {
	margin: 3px 0 3px 10px;
	padding: 5px 10px 5px 10px;
	display: inline-block;
	border-radius: 10px;
	color: var(--backgroundColor);
	background-color: var(--textColor);
}

/*  Footer  */
#creds {
	margin-top: 50px;
	text-align: center;
}

/*  Mobile CSS  */
@media only screen and (max-width: 480px) {
    #data-container h1 {
        font-size: 28px;
        line-height: 26px;
    }
    #data-container h4 {
        font-size: 14px;
    }
    #data-container ul li i {
        font-size: 20px;
        margin: 0;
    }
    #quote-container h1 {
        font-size: 16px;
    }
    
    .exp-logo-container img {
        width: 30px;
        height: 30px;
    }
    .exp-name-container h3 {
        font-size: 18px;
    }
    .exp-description {
        font-size: 12px;
    }

		.proj-wrapper {
			width: 90vw;
		}
		.proj-img {
			width: 90vw;
		}
    .proj-title {
        font-size: 18px;
    }
    .proj-stack {
        font-size: 12px;
    }
}
